
.cke_top .wia-select {
  position:absolute;
  z-index: 999999;
  background: #dbdbdb;
  color: #fff;
  min-width: 150px;
}
.cke_top .wia-select.hidden {
  display: none;
}
.cke_top .wia-select li {
  padding:6px 10px;
  list-style:none;
  color: #000;
  cursor:pointer;
}
.cke_top .wia-select li:hover {
  background: #ccc;
}
